* {
  transition-duration: 225ms;
}

/* Hide window paddings on the main screen view. */
TerminalScreen, VteTerminal, vte-terminal {
  padding: 0;

  /* Set a new size for inner window borders. */
  -vte-terminal-inner-border: 0;
}
