[Unit]
Description=The main notebook server

[Service]
# Start the main notebook server on the current operating system.
ExecStart=%h/.miniconda/bin/jupyter-notebook

# Restart the main process at once.
Restart=always

# Start this service as a separate process on the current operating system.
Type=simple

[Install]
WantedBy=default.target
